/* MyComponentStyles.css */


.text-field, .time-picker-container {
    width: 75%;
    max-width: 900px;
    margin-bottom: 20px;
}

.time-picker-container {
    display: flex;
    justify-content: space-between;
}

.time-picker {
    flex: 1;
}

.time-picker:first-child {
    margin-right: 10px;
}

.button-container {
    margin-top: 20px;
}

.text-editor-ai-prompt {
    width: 75%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
}

.prompt-combo {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 20px;
}

.apply-button {
    margin-bottom: 20px
}

