.allpages {
    max-width: 1024px;
    margin:auto;
    width: 100%;
}

.my-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.working_area {
    width: 80%
}

.margin5topbottom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-top-8 {
    margin-top: 8px;
}

.fullscreen {
  position: fixed;
}

.non-fullscreen {
    position: relative;
}

.menu-controls {
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;

}
.hidden-menu-controls {
    position: fixed;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
